*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    background-color: rgb(30, 30, 31);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

nav{
    color: white;    
}

nav a{
    color: goldenrod;
    font-size: 20px;
}

nav a:hover{
    color: rgb(30, 30, 31);
    background-color: goldenrod;
    border-radius: 10px;
    
}

nav a:active {
    background-color: goldenrod;
    color: white;
}

.fundo img{
    
    width: 100%;
    margin-bottom: 0px;
    
}



body{
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(30, 30, 31);
  }

  span {
    color: goldenrod;
}

h1{
    color: goldenrod;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 15px;
}

h3 {
    color: white;
    font-size: 40px;
    margin: 20px 0;
}

#rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 31);
    padding: 20px;
    color: goldenrod;
    margin-top: auto; 
}

footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 100%;
}

.links-rodape {
    margin-bottom: 10px;
}

.links-rodape a {
    color: goldenrod;
    display: block;
    margin: 5px 0;
    text-decoration: none;
}

.links-rodape a:hover {
    color: white;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        height: auto; 
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        font-size: 18px;
        margin: 5px 0;
    }

    #login {
        padding: 30px 10px;
    }

    input {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 16px;
    }

    

    h3 {
        font-size: 30px;
    }

    button[type="submit"] {
        width: 150px;
        max-width: 150px;
        font-size: 14px;
    }
}
