*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    background-color: rgb(30, 30, 31);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

nav{
    color: white;    
}

nav a{
    color: goldenrod;
    font-size: 20px;
}

nav a:hover{
    color: rgb(30, 30, 31);
    background-color: goldenrod;
    border-radius: 10px;
    
}

nav a:active {
    background-color: goldenrod;
    color: white;
}

.fundo img{
    
    width: 100%;
    margin-bottom: 0px;
    
}



body{
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(30, 30, 31);
  }

  span{
    color: goldenrod;
  }
  h3{
    color: white;
    font-size: 40px;
  }

  #rodape{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0px 0px 0px 0px;
    background-color: rgb(30, 30, 31);
    height:150px;
   
  }

  footer{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  footer a{
    color: goldenrod;
  }
footer a:hover{
color: white;
}