* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(30, 30, 31);
}

.container {
    background-color: rgb(30, 30, 31);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

nav {
    color: white;
}

nav a {
    color: goldenrod;
    font-size: 20px;
}

nav a:hover {
    color: rgb(30, 30, 31);
    background-color: goldenrod;
    border-radius: 10px;
}

nav a:active {
    background-color: goldenrod;
    color: white;
}

.hidden {
    display: none;
}

#saque-info, #deposito-info {
    margin-top: 20px;
}

#saque-info input, #deposito-info input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid goldenrod;
    background-color: rgb(30, 30, 31);
    color: goldenrod;
    font-size: 16px;
}

#saque-info label, #deposito-info label {
    color: goldenrod;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

#saldo {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

button {
    font-size: 18px;
    height: 50px;
    width: 150px;
    max-width: 200px;
    border-radius: 100px;
    background-color: goldenrod;
    color: black;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: darkgoldenrod;
}

button:active {
    background-color: rgb(30, 30, 31);
    color: goldenrod;
}

span {
    color: goldenrod;
}

h1, h2 {
    color: goldenrod;
    display: flex;
    justify-content: center;
    padding: 15px;
}

h3 {
    color: white;
    font-size: 40px;
    margin: 20px 0;
}

#rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 31);
    padding: 20px;
    color: goldenrod;
    margin-top: auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.links-rodape {
    margin-bottom: 10px;
}

.links-rodape a {
    color: goldenrod;
    display: block;
    margin: 5px 0;
    text-decoration: none;
}

.links-rodape a:hover {
    color: white;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    #options {
        display: flex;
        flex-direction: row;
        
    }

    button {
        width: 100px;
        max-width: 300px;
        font-size: 16px;
    }

    #saldo {
        font-size: 40px;
    }

    h1, h2 {
        font-size: 24px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 14px;
    }

    h3 {
        font-size: 24px;
    }

    button {
        width: 100px;
        max-width: 200px;
        font-size: 14px;
    }

    #saldo {
        font-size: 30px;
    }

    #saque-info input, #deposito-info input {
        font-size: 14px;
    }

    #saque-info label, #deposito-info label {
        font-size: 16px;
    }
}
